/* line 33, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 40, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 48, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none; }

/* line 69, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 82, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* line 88, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0; }

/* line 103, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 109, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 122, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 127, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 132, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 137, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 142, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 147, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/* line 153, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 159, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 163, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 168, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic; }

/* line 174, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 181, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 188, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/* line 196, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 203, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 210, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none; }

/* line 216, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 222, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%; }

/* line 228, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 235, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em; }

/* line 239, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 253, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 257, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 264, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* line 270, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* line 283, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 289, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 300, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0; }

/* line 311, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0; }

/* line 316, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 325, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 339, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 349, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal; }

/* line 358, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 372, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 380, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 389, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 399, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 409, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 415, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 422, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 434, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 22, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
html,
button,
input,
select,
textarea {
  color: #222222; }

/* line 26, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/* line 34, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 39, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 45, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 55, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
img {
  vertical-align: middle; }

/* line 60, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 67, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
textarea {
  resize: vertical; }

/* line 77, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 32, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
.container {
  *zoom: 1;
  max-width: 460px;
  _width: 460px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box; }
  /* line 38, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 620px) {
  /* line 47, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .container {
    max-width: 620px;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box; } }
@media (min-width: 940px) {
  /* line 47, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .container {
    max-width: 940px;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box; } }
@media (min-width: 1340px) {
  /* line 47, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .container {
    max-width: 1340px;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box; } }
@media (min-width: 620px) {
  /* line 52, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .header {
    width: 74.19355%;
    float: right;
    margin-right: 0; }

  /* line 54, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .focus {
    width: 74.19355%;
    float: right;
    margin-right: 0; }

  /* line 56, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .aside {
    width: 74.19355%;
    float: right;
    margin-right: 0; } }
@media (min-width: 940px) {
  /* line 60, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .header {
    padding-left: 8.51064%;
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    padding-top: 2.5em; }

  /* line 64, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .focus {
    padding-left: 0%;
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    padding-top: 2.5em; }

  /* line 68, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .aside {
    padding-left: 25.53191%;
    width: 31.91489%;
    float: right;
    margin-right: 0;
    padding-right: 8.51064%;
    padding-top: 2.5em; } }
@media (min-width: 1340px) {
  /* line 75, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .header {
    width: 28.35821%;
    float: left;
    margin-right: 1.49254%;
    height: 100%; }

  /* line 78, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .focus {
    padding-left: 0%;
    width: 28.35821%;
    float: left;
    margin-right: 1.49254%;
    padding-top: 3.5em; }

  /* line 82, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/grid/_magic.sass */
  .aside {
    padding-left: 0%;
    width: 22.38806%;
    float: right;
    margin-right: 0;
    padding-right: 5.97015%;
    padding-top: 3.5em; } }
/* line 71, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
em {
  color: #e7992b;
  font-style: normal; }

/* line 74, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
body {
  font-family: "PT Sans", sans-serif;
  color: #6c7275;
  background: whitesmoke; }

/* line 78, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
h1 {
  color: #6c7275;
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: 0.1em; }

/* line 87, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
h2 {
  line-height: 1.3em; }

/* line 90, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
h3 {
  line-height: 0.65em;
  font-size: 1.5em;
  margin: 0.5em 0;
  color: #86a2b3;
  font-family: "Arvo";
  font-weight: 300;
  text-align: right;
  padding-top: 0.4em; }

/* line 102, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
kbd {
  background-color: #b6b6b6;
  border: 1px solid #dedede;
  padding: 0px 3px 2px; }

/* line 107, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
p {
  text-align: justify; }

/* line 110, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
ul {
  font-family: "Gafata";
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 0.15em; }
  /* line 112, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
  ul.aside {
    padding: 0 25px; }
    /* line 114, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
    ul.aside li {
      text-align: justify;
      padding: 0.5em 0; }
  /* line 117, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
  ul li {
    list-style-type: none; }

/* line 124, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
.bgimg.flight {
  position: absolute;
  top: 13%;
  right: 35%; }
  @media screen and (max-width: 1000px) {
    /* line 124, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
    .bgimg.flight {
      left: 2%;
      width: 70%; } }
  @media screen and (max-width: 600px) {
    /* line 124, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
    .bgimg.flight {
      left: -10px;
      top: 53%; } }

/* line 136, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
.landing {
  background: #86a2b3;
  color: whitesmoke; }
  /* line 139, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
  .landing .right {
    position: absolute;
    top: 50%;
    right: 18%;
    margin-top: -25px;
    text-align: right; }
    @media screen and (max-width: 1000px) {
      /* line 139, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
      .landing .right {
        right: 7%; } }
    @media screen and (max-width: 600px) {
      /* line 139, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
      .landing .right {
        text-align: left;
        margin-left: 0px;
        margin-top: -70px; } }
    /* line 153, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
    .landing .right h1 {
      -webkit-border-radius: 0.1em;
      -moz-border-radius: 0.1em;
      border-radius: 0.1em;
      color: inherit;
      font-family: "Arvo";
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 16pt;
      line-height: 16pt; }
  /* line 166, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
  .landing .left {
    position: absolute;
    bottom: 5%;
    left: 5%;
    margin-top: -25px;
    line-height: 16pt; }
    /* line 172, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
    .landing .left ul {
      position: relative;
      top: -2px;
      left: 0.25em;
      padding: 0; }
      /* line 178, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
      .landing .left ul li {
        color: inherit;
        padding-bottom: 0.7em; }
        /* line 182, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
        .landing .left ul li a {
          -webkit-border-radius: 0.1em;
          -moz-border-radius: 0.1em;
          border-radius: 0.1em;
          border: 1px solid rgba(0, 0, 0, 0);
          text-decoration: none;
          color: inherit; }
    @media screen and (max-width: 600px) {
      /* line 166, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
      .landing .left {
        margin-left: 0px;
        margin-top: 30px;
        bottom: 0;
        left: 0; }
        /* line 199, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
        .landing .left img {
          position: relative;
          top: -44px;
          left: 26px; }
        /* line 203, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
        .landing .left ul {
          left: 15px; } }

/* line 207, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
.header {
  text-align: right; }

/* line 212, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
.container img {
  max-width: 100%;
  height: auto; }

/* line 216, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
footer {
  visibility: hidden;
  font-family: "PT Sans";
  font-size: 0.8em;
  font-weight: 300;
  display: block;
  letter-spacing: 1px;
  width: 100%;
  background: #5c5c5c;
  color: whitesmoke;
  height: 5.65em;
  padding-top: 2.5em; }
  /* line 228, /Users/henry/Dropbox/dev/henryholmes/source/stylesheets/screen.css.sass */
  footer p {
    text-align: center; }

@media print {
  /* line 11, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 19, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 23, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 27, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 37, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 42, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 47, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group; }

  /* line 52, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 56, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 66, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 72, /Users/henry/.rvm/gems/ruby-1.9.3-p429/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
